<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}

    <main class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1>{{task.title}}</h1>
                {{error}}
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <div class="mb-2">
                        <button class="btn btn-primary">
                            Actualizar
                        </button>
                    </div>
                </form>
                <form action="{% url 'complete_task' task.id %}" method="POST">
                {% csrf_token %}
                    <div class="mb-2">
                        <button class="btn btn-primary">
                            Completado
                        </button>
                    </div>
                </form>
            
                <form action="{% url 'delete_task' task.id %}" method="POST">
                    {% csrf_token %}
                        <button class="btn btn-primary">
                            Delete
                        </button>
                    </form>
            </div>
        </div>
    </main>

    {% endblock %}
</body>
</html>